@font-face {
  font-family: "LXGW WenKai";
  src: url("../fonts/lxgw-wenkai-regular-subset.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("../fonts/lxgw-wenkai-medium-subset.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
